<div class="links">
    <div class="login-bar">
        {% if current_user.is_authenticated %}
        <div class="greetings">
            <p>~$ Hello <a href="{{ url_for('user_page', username=current_user.username) }}">{{ current_user.username }}</a></p>
        </div>
        <div class="fields-wrapper">
            <div class="fields">
                <li><a href="{{ url_for('logout') }}">Log out</a></li>
            </div>
        </div>

        {% endif %}
        {% if not current_user.is_authenticated %}
        <div class="greetings"></div>
        <div class="fields-wrapper">
            <div class="fields">
                <input size=7 type="text" value="login">
                <input size=7 type="password" value="password">
                <input size=7 type="submit" value="Login">
            </div>
        </div>
        {% endif %}
    </div>
    <ul>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
    </ul>

</div>

<div class="link-tree navigation text-md3">

    <img src="{{ url_for('static', filename='img/navbit-home.jpg') }}" alt="">
    <a href="{{ url_for('home') }}">Home</a>
    {% if sub_category %}
        <img src="{{ url_for('static', filename='img/navbit-arrow-right.jpg') }}" alt="">
        <a href="">{{ sub_category.title }}</a>
    {% endif %}

    {% if thread %}
        <img src="{{ url_for('static', filename='img/navbit-arrow-right.jpg') }}" alt="">
        <a href="{{ url_for('threads', category_title=category_title, sub_category_id=sub_category_id) }}">{{thread.parent.title}}</a>
        <img src="{{ url_for('static', filename='img/navbit-arrow-right.jpg') }}" alt="">
        <a href="#">{{thread.title}}</a>
    {% endif %}
</div>