<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forum</title>

    <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    {% block head %}{% endblock head %}
</head>
<body>
    <div class="cover">
        <div class="logo-container">
            <a href="/"><h1 class="logo">--CYPHERPUNK FORUM</h1></a>
        </div>
        <div class="navbar">
            {% include "_navbar.html" %}
        </div>
        <div class="main-container">
            {% block content %}{% endblock content %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

