{% extends "base.html" %}
{% block content %}
    <section>
<!--        <div class="content-container">-->
           {% for post in posts %}
                <div class="post-body">
                        <div class="poster-info grid-item">
<!--                             <p>username, foto de perfil e demais informações do usuário que postou </p>-->
                            <p>{{ post.author.username }}</p>
                        </div>
                        <div class="post-main grid-item">
                            <div class="post-title">
                                <p>{{ post.title }}</p>
                            </div>
                            <div class="post-content">
                                <p>{{ post.body }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}


<!--        </div>-->
    </section>

{% endblock content %}